<!-- views/pages/index.ejs -->
<% include ../partials/header %>    

        <h1><%= title %></h1>
        <p><%= content %></p>
        <script src="/assets/js/cookie.js"></script>
<% include ../partials/footer %>
